.post-item-short {
    background-color: #e8e8e8;
    padding-bottom: 9px;
    margin: 0 -11px 0 -15px;
    padding-left: 19px;
    padding-top: 72px;
}
.post-items .post-item-banner + div .post-item-short {
    margin-top: 4px;
}
.post-item-paragraph {
    margin: 2em 0;
    padding: 31px 104px 20px;
    position: relative;
}